<div class="about well">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <h2>O nama</h2>
    </div>
    <div class="col-xs-8 col-xs-offset-2">
      <%= simple_format("Poljoprivredno gazdinstvo Pelivanović nalazi se na periferiji Arilja u predivnom prirodnom ambijentu.
      Na našoj zemlji posedujemo zasade malina, lekovitog bilja, voća i povrća. Od visoko kvalitetnih plodova
      proizvodimo kreme, tinkture, terapeutske jastuke, prehrambene proizvode.") %>
    </div>
  </div>
</div>