<div style="text-align: center">
<h1>Poljoprivredno gazdinstvo Pelivanović</h1>
<p>Dobrodošli u našu web prodavnicu. Ovde možete kupiti prirodne ručno rađene proizvode</p>
<%= link_to 'Proizvodi', products_path, class: "btn btn-primary btn-lg btn-xlarge" %>
</div>