<div class="container">
  <footer class="footer">
    
    <small>
      Copyright &copy; <a href="https://calculate-it.herokuapp.com/trycatchhome">Milan Duka</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to 'About', about_path %></li>
      </ul>
    </nav>
  </footer>
</div>